.footer {
    text-align: center;
    padding: 2rem;
    position: relative;
    margin-top: auto;
    backdrop-filter: blur(10px);
}

.footer p {
    color: #666;
}

.dark .footer p {
    color: #ccc;
}